<div class="card-body">
    <h3 class="card-title">Registrar Ticket o Insidente</h3><br><br>

    <div class="col-md-6 m-t-20">
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea id="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="Sol">Solicitante</label>
            <select id="sol" class="form-control">
                <option disabled="">Seleccione...</option>
                <option>Andres Carvajal</option>
                <option>Camilo Herrera</option>
            </select>
        </div>
        <div class="form-group">
            <label for="area">Area</label>
            <select id="area" class="form-control">
                <option disabled="">Seleccione...</option>
                <option>Desarrollo</option>
                <option>QA</option>
            </select>
        </div>
        <div class="form-group">
            <label for="resumen">Resumen</label>
            <textarea class="form-control" id="resumen" placeholder="Escriba aquí"></textarea>
        </div>
        <div class="m-t-20 " style="width: 100%">
            <button class="btn btn-primary right">GUARDAR</button>
            <button type="button" class="btn btn-outline-primary">CANCELAR</button>
        </div>
    </div>

</div>